<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">调研记录</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="demand-record">
        <div class="function-list">
            <button class="btn-blue" ng-click="showNewRecordModal()">新增调研记录</button>
        </div>
        <section class="section">
            <div class="list">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>需求调研日期</th>
                        <th>需求调研内容</th>
                        <th>调研人</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>2017-11-22</td>
                        <td class="text-left">需求调研内容需求调研内容需求调研内容</td>
                        <td>金鱼</td>
                        <td>
                            <a ng-click="showNewRecordModal()">编辑</a>
                            <a>删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<div ng-include="'view/demand/modal/new-record-modal.html'"></div>
