<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">广告配置</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="content_sub">

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="90"><label>渠道</label></td>
                        <td width="200">
                            <select ng-model="q.sourceType"  class="form-control">
                                <option  value="0">普通</option>
                                <option  value="1">新概念</option>
                            </select>
                        </td>

                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD" ng-click="search()">查询</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>


        <div class="code">
            <div class="ToolBar">
                <a class="Bu2 Bu1_blue" ng-click="showAdModal()">
                    <b>
                        <i class="icon i_Add_3" ></i>新增
                    </b>
                </a>

                <a class="Bu2 Bu1_blue" ng-click="deleteAd()">
                    <b>
                        <i class="icon i_Add_3"></i>删除
                    </b>
                </a>
            </div>
        </div>
        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th>是否启用</th>
                    <th>排序权重</th>
                    <th>标题</th>
                    <th>分享文案</th>
                    <th>详情链接</th>
                    <th>广告类别</th>
                    <th>渠道</th>
                </tr>
                <!--<tr>-->
                    <!--<td align="center">1<input type="checkbox"></td>-->
                    <!--<td>超级车店</td>-->
                    <!--<td>展会风采</td>-->
                    <!--<td>4567890-</td>-->
                    <!--<td>普通</td>-->
                <!--</tr>-->
                <tr ng-repeat="i in list" >
                    <td align="center">{{$index + 1}}<input type="checkbox" ng-model="i.isCheck"></td>
                    <td align="center"><input type="checkbox" ng-model="i.active" ng-change="editAd(i)"></td>
                    <td>{{i.weight}}</td>
                    <td ng-click="showAdModal(i)"><a >{{i.title}}</a></td>
                    <td>{{i.shareText}}</td>
                    <td>{{i.detailURL}}</td>
                    <td>{{i.adType==1?'闪屏':'banner'}}</td>
                    <td>{{i.sourceType==0?'普通':'新概念'}}</td>
                </tr>
                </tbody>
                <tbody ng-show="list.length==0">
                <tr>
                    <td colspan="5">没有符合条件的数据</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'modal/ad-modal.html'"></div>
