<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">连锁关系</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="chain-shop">
        <header class="col-sm-12">
            <div class="form-inline">
                <div class="form-group">
                    <label>车店编号</label>
                    <input type="text" class="form-control" placeholder="请输入车店编号" ng-model="q.companyId">
                </div>
                <button class="btn-blue" ng-click="searchListChainCompanies()">查询</button>
            </div>
        </header>
        <section class="section">
            <div class="list">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>车店编号</th>
                        <th>车店名称</th>
                        <th>注册人</th>
                        <th>手机号</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in list">
                        <td>{{i.companyId}}</td>
                        <td>{{i.companyName}}</td>
                        <td>{{i.userInfo.realName}}</td>
                        <td>{{i.userInfo.phone}}</td>
                        <td>{{i.companyType}}</td>
                    </tr>
                    <tr ng-hide="list.length>0">
                        <td colspan="9">无查询结果</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div class="toolbar">
            <div class="toolbar_info">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="pg_first" ng-click="firstPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_prev" ng-click="previousPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep"></span></td>
                        <td><span class="ytb-text">第{{currPage + 1}}页，</span></td>
                        <td><span class="ytb-text">共{{totalPage}}页</span></td>
                        <td><span class="ytb-sep"></span></td>
                        <td>
                            <button type="button" class="pg_next" ng-click="nextPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_last" ng-click="lastPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep" id="ext-gen283"></span></td>
                        <td>
                            <button type="button" class="x-btn-text bar_load" ng-click="search();">&nbsp;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
