<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">设置拉卡拉编号</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="content_sub"style="height: 500px">

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="90"><label>车店编号:</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.companyId"/></td>

                            <td width="90"><label>扫码终端号:</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.deviceInfo"/></td>


                            <td width="90"><label>银行终端号:</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.bankDeviceInfo"/></td>


                            <td width="90"><label>商户号:</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.mchId"/></td>


                            <td colspan="2">
                                <div class="thr_btns thr_btns_QD">
                                    <button type="button" class="btn_blue thr_btns_ZD" ng-click="saveOrUpdateCompanyLakalaDevice()">设置</button>
                                </div>
                            </td>

                            <td colspan="2">
                                <div class="thr_btns thr_btns_QD">
                                    <button type="button" class="btn_blue thr_btns_ZD" ng-click="findCompanyLakalaDevice()">查找</button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </form>
        </div>


        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th >序号</th>
                    <th>车店编号</th>
                    <th>商户号</th>
                    <th>终端号</th>
                    <th>终端号类型</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="i in list">
                    <td>{{$index + 1}}</td>
                    <td>{{i.companyId}}</td>
                    <td>{{i.mchId}}</td>
                    <td>{{i.deviceInfo}}</td>
                    <td>{{i.type.desc}}</td>
                    <td>{{i.userName}}</td>
                    <td ng-click="deleteCompanyLakalaDevice(i.id)">删除</td>
                </tr>

                <tr ng-hide="list.length>0">
                    <td colspan="6">没有符合条件的数据</td>
                </tr>
                </tbody>


            </table>
        </div>


    </div>
</div>
