<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">数据导出</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="data-export">
        <section class="section">
            <div class="col-sm-9 form-inline">
                <div class="col-sm-4 form-group">
                    <label>车店编号</label>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="车店编号" ng-model="q.companyId">
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>开始日期</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="开始日期"
                               date-time view="date" min-view="date" auto-close="true" format="YYYY-MM-DD"
                               ng-model="startTime" date-change="timeChange">
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>截止日期</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="截止日期"
                               date-time view="date" min-view="date" auto-close="true" format="YYYY-MM-DD"
                               ng-model="endTime" date-change="timeChange">
                    </div>
                </div>
            </div>
            <div class="col-sm-9 form-inline">
                <h3>选择导出数据</h3>
                <div class="export-list">
                    <div class="col-sm-3" ng-repeat="i in types">
                        <label>
                            <input type="checkbox" class="form-control" ng-model="i.isCheck">
                            {{i.desc}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <button class="btn btn-warning" ng-click="toExcel()">导出</button>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>
