<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">
                车店开通
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wechat-enroll">
        <section class="section">
            <div class="col-sm-12 form-inline">
                <div class="col-sm-6 form-group">
                    <label>车店编号</label>
                    <input class="form-control" type="text" ng-model="m.companyId" placeholder="请输入车店编号">
                    <button class="btn btn-primary" ng-click="search()">查询</button>
                    <span style = "font-size: 21px;">&nbsp;&nbsp;{{versionInfo.companyName}}&nbsp;&nbsp;{{versionInfo.versionName}}</span>
                </div>

                <div class="clear"></div>
            </div>
            <div class="col-sm-12 form-inline">
                <table class="table">
                    <thead>
                    <tr>
                        <th>功能名称</th>
                        <th>开通时间</th>
                        <th>到期时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in list">
                        <td>{{i.name}}</td>
                        <td>{{i.boughtTime}}</td>
                        <td>{{i.validForever ? '永久有效' : i.expiredTime}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 form-inline package">
                <h3>功能</h3>
                <div class="col-sm-3 form-group" ng-repeat="i in features">
                    <label>
                        <input class="checkbox-primary" type="radio" name="radio" ng-model="m.feature" value = "{{i.feature}}">{{i.name}}
                    </label>
                </div>
                <div class="col-sm-12 form-group">
                    <label>到期日</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="到期时间"
                               date-time view="date" min-view="date" auto-close="true" format="YYYY-MM-DD"
                               ng-model="expireTime" date-change="timeChange">
                        <input type = "checkbox" ng-model = "forever" />永久有效
                    </div>
                </div>
                <div class="clear"></div>
                <br>
                购买车险业务请先添加车险账号
                <br>
                <div ng-show="settingInsurance"> 已设置账号：{{settingInsurance.accountId}}, 密码：{{settingInsurance.password}}</div>
                <br>
                <input type="text" class="form-control inputsearch"  ng-model="insurance.accountId" placeholder="请输入代理账号">
                <input type="text" class="form-control inputsearch"  ng-model="insurance.password" placeholder="请输入密码">
                <button class="btn btn-primary"ng-click="addAccount(false)">添加车险账号</button>
                <button class="btn btn-primary"ng-click="addAccount(true)">修改车险账号</button>
                <button class="btn btn-primary"ng-click="findAccount()">查询车险账号</button>
            </div>
            <div class="col-sm-12 form-inline function-list">
                <label>车店手机</label>
                <input class="form-control" type="text" placeholder="请输入注册手机号" ng-model="m.telephone">&nbsp;
                <button class="btn btn-primary" ng-click="boughtFeaturePackage(1)">开通基础版</button>
                <button class="btn btn-danger" ng-click="boughtFeaturePackage(2)">开通精英版</button>
                <button class="btn btn-danger" ng-click="boughtFeaturePackage(0)">开通企业版</button>
                <button class="btn btn-danger" ng-click="boughtFeaturePackage(3)">开通连锁版</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" ng-click="buyFeature()">购买功能</button>
                <button class="btn btn-primary" ng-click="boughtFeature()">功能延期</button>
            </div>
            <div class="clear"></div>
        </section>
        一、使用说明:
        <br>
        1.填入车店编号,可以查询车店的功能套餐购买情况
        <br>
        2.填入车店编号, 选择到期时间，点击相应的按钮即可
        <br>
        3.购买功能和功能延期，只针对车险业务
    </div>
</div>