
<div id="main">
    <div class="content_sub">

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <td width="90"><label>处理状态</label></td>
                        <td width="150">
                            <select ng-model="q.key" ng-change="search()">
                                <option value="0">未处理</option>
                                <option value="1">已处理</option>
                            </select>
                        </td>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th>车店</th>
                    <th>车店地址</th>
                    <th>店主姓名</th>
                    <th>店主手机</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>操作</th>

                </tr>
                <tr ng-repeat="i in list">
                    <td align="center">{{$index + 1}}</td>
                    <td>{{i.company.companyName}}</td>
                    <td>{{i.company.position.desc}}</td>
                    <td>{{i.user.realName}}</td>
                    <td>{{i.user.phone}}</td>
                    <td>{{i.content}}</td>
                    <td>{{i.state|FeedbackState}}</td>
                    <td ng-show="i.state==0"><a ng-click="updateState(i.feedbackId)" class="goBack">更新</a></td>
                    <td ng-hide="i.state==0"></td>
                </tr>
                </tbody>
                <tbody ng-show="list.length==0">
                <tr>
                    <td colspan="6">没有符合条件的数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="toolbar">
            <div class="toolbar_info">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="pg_first" ng-click="firstPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_prev" ng-click="previousPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep"></span></td>
                        <td><span class="ytb-text">第{{currPage + 1}}页，</span></td>
                        <td><span class="ytb-text">共{{totalPage}}页</span></td>
                        <td><span class="ytb-sep"></span></td>
                        <td>
                            <button type="button" class="pg_next" ng-click="nextPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_last" ng-click="lastPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep" id="ext-gen283"></span></td>
                        <td>
                            <button type="button" class="x-btn-text bar_load" ng-click="search();">&nbsp;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
