<!DOCTYPE html>
<html ng-app="internal-login">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="no-cache">
    <title>超级车店</title>
    <link href="css/layout.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/jui/css/jquery-ui-1.10.3.custom.min.css">

    <script src="js/jui/js/jquery-1.9.1.min.js"></script>
    <script src="js/common/dialog-min.js"></script>
    <link rel="stylesheet" href="css/ui-dialog.css">

    <script src="js/jui/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="js/common/angular.min.15.js"></script>
    <script src="js/common/angular-ui-router.min.js"></script>
    <script src="js/common/jquery.fileupload.js"></script>
    <script src="js/common/jquery.fileupload-process.js"></script>

    <script src="js/common/ng-file-upload-shim.min.js"></script>
    <script src="js/common/ng-file-upload.min.js"></script>


    <script src="js/common/msg.js"></script>
    <script src="js/common/utils.js"></script>
    <script src="js/common/dialogUtils.js"></script>

    <script src="js/app/services-base.js"></script>
    <script src="js/app/services-data-transform.js"></script>
    <script src="js/app/controllers-data-transform.js"></script>

    <script src="js/app/login-app.js"></script>

</head>
<body ng-controller="login-ctrl">
<!--header-->
<div class="indesheader">
    <div class="title">
				<span class="logo">
					<!--<img src="images/header-icon.png" alt="icon"/>-->
					<p>管理平台</p>
				</span>
    </div>
</div>
<!--con-->
<div class="login">
    <div class="ad">
        <div class="login-bg">
            <div class="login-con">
                <form action="">
                    <ul class="clearfix">
                        <li><span>账号</span>
                            <input type="text" ng-model="user"/>
                            <i class="user"></i>
                        </li>
                        <li><span>密码</span>
                            <input type="password" ng-model="password"/>
                            <i class="pass"></i>
                        </li>
                    </ul>
                    <p>
                        <a ng-click="login()">登 录</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="foot">
    <p></p>
</div>
</body>
</html>
