<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">
                权限设置
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="main power">
        <div class="left col-sm-3">
            <ul>
                <li class="up role-list">
                    <div class="role">角色</div>
                    <div class="act">操作</div>
                </li>

                <li class="name role-list" ng-repeat="role in roles | orderBy:role.roleId">

                    <div class="txt" style="border-right: 1px solid #dedede;">
                        <!--<input type="text" ng-model="role.name" disabled="disabled">-->
                        <span>{{role.name}}</span>&nbsp;&nbsp;&nbsp;
                        <span ng-hide="role.isManager" class="fa fa-pencil"><a ng-click="showDialog(role)">修改</a></span>
                    </div>
                    <div class="act" ng-hide="role.isManager">
                        <span class="del" ng-click="delete($index+1, role)" ng-hide="role.isManager">删除</span>
                        <span class="set" ng-click="set($index+1, role)"  >设置</span>
                        <span class="cancel none" ng-click="cancel($index+1)"  >取消</span>
                        <span class="preser none" ng-click="save($index+1, role)">保存</span>
                        <span class="default"></span>
                    </div>
                    <span class="not_allow" ng-show="role.isManager">管理员不允许编辑</span>
                </li>
                <li class="add role-list" ng-click="showRoleModal()">
                    <span></span>新增角色
                </li>
            </ul>
        </div>
        <div class="right col-sm-8">
            <ul>
                <li class="web">网页权限</li>
                <li class="user current">权限设置</li>
            </ul>
            <div class="power_in" ng-repeat="auth in auths">
                <div class="Reception" ng-repeat="one in auth.children">
                    <div class="checkbox" >
                        <label class="col-sm-3" >
                            <input type="checkbox"
                                   ng-disabled="disabled"
                                   ng-model="one.checked"
                                   ng-click="checkedParent(one)">{{one.name}}
                        </label>
                    </div>
                    <div class="checkbox" >
                        <label class="col-sm-3" ng-repeat="two in one.children">
                            <input type="checkbox"
                                   ng-disabled="disabled"
                                   ng-model="two.checked"
                                   ng-click="checkedChild(one)">{{two.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div ng-include="'modal/role-modal.html'"></div>
<script>
    $('.power').on('click','.set',function(){
        $('.power_in input').prop({disabled:""});
        $(this).hide().siblings('.preser').show();
        $(this).parent().parent().css('background', '#eee');
    });

    $('.power').on('click','.preser',function(){
        $(this).hide().siblings('.set').show();
        $('.power_in input').prop({disabled:"true"});
        $(this).parent().parent().css('background', '#fff');
    });
</script>