<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">
                <a href="javascript:history.go(-1)" class="goBack">工作表</a>
                    &gt;{{sheetName}}详情
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="content_sub">
        <div class="code">
            <div class="ToolBar">
            </div>
        </div>

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="90"><label>导入状态</label></td>
                        <td width="150">
                            <select ng-model="q.state" ng-change="search()">
                                <option value="">全部</option>
                                <option value="UPLOADED">已上传-0</option>
                                <option value="SUCCESSFUL">成功-1</option>
                                <option value="FAILED">失败-2</option>

                            </select>
                        </td>

                        <td width="90"><label>每页数据</label></td>
                        <td width="150">
                            <select ng-model="q.max" ng-change="search()">
                                <option value="1000">1000</option>
                                <option value="500">500</option>
                                <option value="100">100</option>
                            </select>
                        </td>

                        <td width="90" ng-click="export2Excel()">
                            <label class="table-label-button">导出Excel</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>


        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" id="export2Excel">
                <tbody>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th ng-repeat="(attr, value) in model">{{value}}</th>
                </tr>
                <tr ng-repeat="row in listData" ng-click="showDialog(row);">
                    <td align="center">{{$index + 1}}</td>
                    <td ng-repeat="(attr, value) in model track by $index"
                        ng-class="{errorMessage:attr=='errorMessage_'}">
                        {{row[attr]}}
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="listData.length==0">
                <tr>
                    <td colspan="20">没有符合条件的数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="toolbar">
            <div class="toolbar_info">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="pg_first" ng-click="firstPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_prev" ng-click="previousPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep"></span></td>
                        <td><span class="ytb-text">第{{currPage + 1}}页，</span></td>
                        <td><span class="ytb-text">共{{totalPage}}页</span></td>
                        <td><span class="ytb-sep"></span></td>
                        <td>
                            <button type="button" class="pg_next" ng-click="nextPage()">&nbsp;</button>
                        </td>
                        <td>
                            <button type="button" class="pg_last" ng-click="lastPage()">&nbsp;</button>
                        </td>
                        <td><span class="ytb-sep" id="ext-gen283"></span></td>
                        <td>
                            <button type="button" class="x-btn-text bar_load" ng-click="search();">&nbsp;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="record-detail" class="layer" title="修改" style="display: none">
    <div class="layer-cont">
        <form id="uploadForm">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="tab_noBorder">
                <tbody>
                <tr ng-repeat="index in repeatTimes() track by $index">
                    <td align="right">
                        {{model[attrs[$index * 2]]}}:
                    </td>
                    <td>
                        <input type="text" class="input01" style="width: 100%" ng-model="m[attrs[$index * 2]]"/>
                    </td>
                    <td align="right" ng-show="model[attrs[$index * 2 + 1]]">
                        {{model[attrs[$index * 2 + 1]]}}:
                    </td>
                    <td ng-show="model[attrs[$index * 2 + 1]]">
                        <input type="text" class="input01" style="width: 100%" ng-model="m[attrs[$index * 2 + 1]]"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>