<style>
    .with100{
        width:100px
    }
</style>
<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">微信模板设置</li>
        </ul>
    </div>
</div>
<div id="main">
    <br class="content_sub"style="height: 500px">

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="90"><label>companyId</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.companyId"/></td>
                            <td width="90"><label>telephone</label></td>
                            <td width="200"><input type="text" class="input01" ng-model="m.telephone" placeholder="注册手机号"/></td>



                        </tr>
                    <tr>
                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="setTemplate()">设置模板</button>
                            </div>
                        </td>

                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="setIndustry()">设置行业</button>
                            </div>
                        </td>
                        <td colspan="5">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="syncSubscribe()">同步关注用户</button>
                            </div>
                        </td>

                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="getAppIdAppSecrets()">查询授权AppId</button>
                            </div>
                        </td>

                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="getTemplates()">查询模板</button>
                            </div>
                        </td>

                        <td colspan="2">
                            <div class="thr_btns thr_btns_QD">
                                <button type="button" class="btn_blue thr_btns_ZD with100" ng-click="goAuthorizationPage()">授权</button>
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            1. 如果店主是多个公众号的管理员，授权的时候要提醒店主要授权正确的公众号。</br>
                            2. 授权后，输入相应的车店编号和手机号码，查询授权AppId是否正确，不正确则删除， 重新授权
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th>授权appId</th>
                    <th>操作</th>

                </tr>
                <tr ng-show="appIdAppsecret.appId">
                    <td>{{appIdAppsecret.appId}}</td>
                    <td ng-click="deleteAppSecretById(appIdAppsecret.id)">删除</td>
                </tr>
                <tr ng-hide="appIdAppsecret.appId">
                    <td colspan="2">无授权信息</td>
                </tr>
                </tbody>
            </table>
        </div>

        </br>
        </br>
        </br>

        <div class="list">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th style="text-align:center;">编号</th>
                    <th>模板名称</th>
                    <th>模板编号</th>
                    <th>操作</th>

                </tr>
                <tr ng-repeat="i in list">
                    <td align="center">{{$index + 1}}</td>
                    <td align="center">{{i.id}}</td>
                    <td>{{i.typeOption.desc}}</td>
                    <td>{{i.templateCode}}</td>
                    <td ng-click="deleteTemplateById(i.id)">删除</td>
                </tr>
                </tbody>
                <tbody ng-show="list.length==0">
                <tr>
                    <td colspan="5">没有符合条件的数据</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
