<div class="sbnav">
    <div class="breakcrumb breakcrumb-user">
        <ul>
            <li class="txtCrumb">当前路径：</li>
            <li class="firCrumb">删除微信模板</li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="content_sub"style="height: 500px">

        <div class="search_form">
            <form action="" method="post" class="card_m">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="200"><input type="text" class="input01" ng-model="m.companyId"/></td>

                            <td colspan="2">
                                <div class="thr_btns thr_btns_QD">
                                    <button type="button" class="btn_blue thr_btns_ZD" ng-click="deleteAppId()">删除</button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="list">
        </div>


    </div>
</div>
