
<!-- 修改车险密码 -->
<script type="text/ng-template" id="editInsurancePassword-modal.html" >
    <div class="modal-content editInsurancePassword-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
            <h4 class="modal-title">修改车险密码</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入手机号" ng-model="m.telephone">
            </div>
            <div class="test-code form-group">
                <input type="text" style="display: inline-block;width:166px;" class="form-control"
                       placeholder="请输入验证码" ng-model="m.receiveCode">
                <button style="display: inline-block" class="btn btn-success" ng-click="sendSmsPhoneCodeToCreateOwner()">{{count}}{{isCount?"s后重发":""}}</button>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入6位以上新密码" ng-model="onePass">
            </div>
            <div>
                <input type="text" class="form-control" placeholder="再次确认密码" ng-model="twoPass">
            </div>
        </div>
        <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn-blue" ng-click="ok()">确定</button>
        </div>
    </div>
</script>